{
    // ESLint Configuration File
    // See http://eslint.org/ for more details

    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Parser
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    "parser": [
      //
    ],

    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Extends
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    "extends": [
      //
    ],

    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Plugins
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    "plugins": [
      //
    ],

    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Rules
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    "rules": {
      //
    },

    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    // Environment
    // - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - - -
    "env": {
      //
    }
  }
